In [1]:
from __future__ import print_function, division

In [18]:
import pandas as pd
from datetime import datetime
import numpy as np
import seaborn as sns
%matplotlib inline

In [3]:
import datetime

In [4]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [190629, 190622, 190615]
df = get_data(week_nums)

In [5]:
def get_daily_counts(row, max_counter,type_exit):
    counter = row[type_exit] - row["PREV_"+type_exit]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        counter = min(row[type_exit], row["PREV_"+type_exit])
    if counter > max_counter:
        return 0
    return counter

In [7]:
def clean_data(df):
    
    #Clean column names
    df.columns = df.columns.str.strip()
    
    #Add datetime
    df['DATETIME'] = pd.to_datetime(df['DATE']+' '+df['TIME'],format="%m/%d/%Y %H:%M:%S")
    
    df.head()
    
    #Add DAY_OF_WEEK column
    #df['DAY_OF_WEEK'] = pd.to_datetime(df["DATETIME"], errors='coerce').dt.weekday_name
    
    #Get rid of duplicate entries
    df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATETIME"],inplace=True, ascending=False)
    df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATETIME"], inplace=True)
    
    #Drop DESC column
    turnstiles_df1 = df.drop(["DESC"], axis=1, errors="ignore")
    
    #Counting Entries and Exits
    turnstiles_daily_time = (turnstiles_df1.groupby(["C/A", "UNIT", "SCP", "STATION", "DATETIME"],as_index=False)['ENTRIES','EXITS'].first())
    turnstiles_daily_time[["PREV_DATE", "PREV_ENTRIES", "PREV_EXITS"]] = (turnstiles_daily_time
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATETIME","ENTRIES","EXITS"]
                                                       .transform(lambda grp: grp.shift(1)))
    turnstiles_daily_time.dropna(subset=["PREV_DATE"], axis=0, inplace=True)
    # If counter is > 1Million, then the counter might have been reset.  
    # Just set it to zero as different counters have different cycle limits
    turnstiles_daily_time["HOURLY_ENTRIES"] = turnstiles_daily_time.apply(get_daily_counts, axis=1, max_counter=10000, type_exit ='ENTRIES')
    turnstiles_daily_time["HOURLY_EXITS"] = turnstiles_daily_time.apply(get_daily_counts,axis = 1, max_counter = 10000, type_exit ='EXITS')
    
    #Clean '0' from Stations_Daily_Time
    turnstiles_daily_time['HOURLY_ENTRIES'].replace(0, np.nan, inplace=True)
    turnstiles_daily_time['HOURLY_EXITS'].replace(0,np.nan,inplace=True) 
    
    #Creating a Total Count Columns
    turnstiles_daily_time['TOTAL_COUNT'] = turnstiles_daily_time['HOURLY_ENTRIES']+turnstiles_daily_time['HOURLY_EXITS']
    
    #Cleaning up columns in turnstiles_daily
    turnstiles_daily_clean = turnstiles_daily_time.drop(["PREV_ENTRIES", "PREV_EXITS", "PREV_DATE", "EXITS", "ENTRIES"], axis=1, errors="ignore")
    
    #Dropping Lackawanna
    turnstiles_daily_clean = turnstiles_daily_clean[turnstiles_daily_clean.STATION != 'LACKAWANNA']
    
    return turnstiles_daily_clean

In [8]:
truck_data = clean_data(df)

In [11]:
truck_data['DAY_OF_WEEK'] = pd.to_datetime(truck_data["DATETIME"], errors='coerce').dt.weekday_name

In [13]:
def timebin(element):
    if element >=6 and element <= 11:
        return "breakfast"
    elif element >11 and element <=16:
        return "lunch"
    elif element > 16 and element <=23:
        return "dinner"
    else: 
        return "midnight snack"

truck_data['HOURS']= truck_data['DATETIME'].dt.hour.apply(timebin)

In [14]:
truck_data.head()

,C/A,UNIT,SCP,STATION,DATETIME,HOURLY_ENTRIES,HOURLY_EXITS,TOTAL_COUNT,HOURS,DAY_OF_WEEK
1,A002,R051,02-00-00,59 ST,2019-06-08 04:00:00,28.0,6.0,34.0,midnight snack,Saturday
2,A002,R051,02-00-00,59 ST,2019-06-08 08:00:00,20.0,43.0,63.0,breakfast,Saturday
3,A002,R051,02-00-00,59 ST,2019-06-08 12:00:00,87.0,82.0,169.0,lunch,Saturday
4,A002,R051,02-00-00,59 ST,2019-06-08 16:00:00,203.0,57.0,260.0,lunch,Saturday
5,A002,R051,02-00-00,59 ST,2019-06-08 20:00:00,314.0,32.0,346.0,dinner,Saturday

In [40]:
df1 = truck_data.groupby(['STATION', 'DAY_OF_WEEK', 'HOURS']).sum()

In [42]:
df1

                                      HOURLY_ENTRIES  HOURLY_EXITS  \
STATION   DAY_OF_WEEK HOURS
1 AV      Friday      breakfast               5090.0        8816.0
                      dinner                 18197.0       19639.0
                      lunch                  25246.0       26446.0
                      midnight snack          9183.0        8376.0
          Monday      breakfast               4391.0        8704.0
                      dinner                 16857.0       18525.0
                      lunch                  24670.0       25612.0
                      midnight snack          3600.0        4150.0
          Saturday    breakfast               1313.0        3093.0
                      dinner                  5286.0        7454.0
                      lunch                   7736.0        9504.0
                      midnight snack          7924.0        7338.0
          Sunday      breakfast                560.0        1244.0
                      dinner                  4335.0        5534.0
                      lunch                   5886.0        8453.0
                      midnight snack          5991.0        7250.0
          Thursday    breakfast               3985.0        8081.0
                      dinner                 16343.0       17752.0
                      lunch                  27008.0       26723.0
                      midnight snack          8917.0        7758.0
          Tuesday     breakfast               4467.0        8260.0
                      dinner                 17647.0       19381.0
                      lunch                  26284.0       26626.0
                      midnight snack          6638.0        6369.0
          Wednesday   breakfast               4214.0        8726.0
                      dinner                 18087.0       19511.0
                      lunch                  27107.0       27289.0
                      midnight snack          8290.0        7624.0
103 ST    Friday      breakfast              20041.0       10229.0
                      dinner                 43219.0       32208.0
...                                              ...           ...
YORK ST   Wednesday   lunch                   5482.0        7818.0
                      midnight snack          3534.0        1291.0
ZEREGA AV Friday      breakfast               2968.0        1384.0
                      dinner                  2923.0        3820.0
                      lunch                   1575.0        1029.0
                      midnight snack           431.0        1119.0
          Monday      breakfast               3286.0        1537.0
                      dinner                  2854.0        4137.0
                      lunch                   1551.0        1044.0
                      midnight snack           401.0         802.0
          Saturday    breakfast                950.0         454.0
                      dinner                  1763.0        2226.0
                      lunch                   1097.0         611.0
                      midnight snack           292.0         802.0
          Sunday      breakfast                554.0         303.0
                      dinner                  1284.0        1706.0
                      lunch                    844.0         455.0
                      midnight snack           391.0        1026.0
          Thursday    breakfast               3251.0        1468.0
                      dinner                  2987.0        4039.0
                      lunch                   1536.0        1060.0
                      midnight snack           420.0        1122.0
          Tuesday     breakfast               3382.0        1512.0
                      dinner                  2883.0        4194.0
                      lunch                   1633.0        1013.0
                      midnight snack           398.0         982.0
          Wednesday   breakfast               3536.0        1605.0
                      dinner                  3023.0        4304.0
                      lunch                   1648.0        1118.0
                      midnight snack           468.0        1084.0

                                      TOTAL_COUNT
STATION   DAY_OF_WEEK HOURS
1 AV      Friday      breakfast           13147.0
                      dinner              36256.0
                      lunch               49850.0
                      midnight snack      17326.0
          Monday      breakfast           13095.0
                      dinner              35382.0
                      lunch               50282.0
                      midnight snack       7659.0
          Saturday    breakfast            4156.0
                      dinner              12627.0
                      lunch               17047.0
                      midnight snack      14033.0
          Sunday      breakfast            1694.0
                      dinner               9828.0
                      lunch               14164.0
                      midnight snack      13163.0
          Thursday    breakfast           12066.0
                      dinner              34095.0
                      lunch               53731.0
                      midnight snack      16673.0
          Tuesday     breakfast           11949.0
                      dinner              37028.0
                      lunch               51194.0
                      midnight snack      12885.0
          Wednesday   breakfast           12940.0
                      dinner              37598.0
                      lunch               54396.0
                      midnight snack      15911.0
103 ST    Friday      breakfast           30159.0
                      dinner              75283.0
...                                           ...
YORK ST   Wednesday   lunch               13300.0
                      midnight snack       4825.0
ZEREGA AV Friday      breakfast            4352.0
                      dinner               6743.0
                      lunch                2604.0
                      midnight snack       1550.0
          Monday      breakfast            4823.0
                      dinner               6991.0
                      lunch                2595.0
                      midnight snack       1203.0
          Saturday    breakfast            1404.0
                      dinner               3989.0
                      lunch                1708.0
                      midnight snack       1094.0
          Sunday      breakfast             857.0
                      dinner               2988.0
                      lunch                1299.0
                      midnight snack       1417.0
          Thursday    breakfast            4719.0
                      dinner               7026.0
                      lunch                2596.0
                      midnight snack       1542.0
          Tuesday     breakfast            4894.0
                      dinner               7077.0
                      lunch                2646.0
                      midnight snack       1380.0
          Wednesday   breakfast            5141.0
                      dinner               7327.0
                      lunch                2766.0
                      midnight snack       1548.0

[10556 rows x 3 columns]